.content-table {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    line-height: 1rem;
    .table-head {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        align-content: center;
        justify-content: space-around;
        height: 2rem;
        background-color: #870fe6a1;
        color: white;
        font-weight: 500;
        >div {
            text-align: center;
        }
    }
    .table-content {
        display: flex;
        flex-direction: column;
        .content-row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
            align-items: center;
            grid-gap: 0.5rem;
            justify-content: space-around;
            border-top: 1px solid black;
            padding: 4px;
            >div[role=id], [role=userId], [role=postId] {
                text-align: center;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
            >div[role=email] {
                overflow-x: hidden;
                line-height: 1.5rem;
                text-overflow: ellipsis;
            }
            >div[role=body] {
                max-height: 3rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}